<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="client_id" value="client-dotnet"/>
    <add key="client_secret" value="Password1"/>
	  <add key="redirect_uri" value="http://localhost:3000/island"/>
    <add key="scope" value="openid profile"/>
    <add key="authorization_endpoint" value="https://identity-server.staging01.devland.is/connect/authorize"/>
    <add key="token_endpoint" value=""/>
    <add key="logout_endpoint" value=""/>
    <add key="revocation_endpoint" value=""/>
    <add key="jwks_uri" value=""/>
    <add key="issuer" value="https://identity-server.staging01.devland.is"/>
	  <add key="api_endpoint" value="https://localhost:3030"/>
    <add key="base_url" value="http://localhost:3000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies/>
    </compilation>
  </system.web>
</configuration>